<div class="flex justify-around">
  <div class="flex flex-col py-6 my-4 text-gray-700 text-center rounded-md">
    <div class="flex flex-col border rounded p-6 bg-white max-w-2xl h-screen">
      <%= image_tag ("Dunder_Mifflin_Inc_Logo.png") %>
      <div class="font-bold text-3xl mb-2">
        <p>
          Employee Portal
        </p>
      </div>
      <div class="my-4">
        <% if !current_user %>
          <%= link_to users_path, class:"w-full uppercase tracking-wide text-grey-darker text-xs font-bold bg-blue-400 p-2 rounded-md" do%>
          Log In
          <% end %>
        <% elsif current_user %>
          <%= link_to users_path, class:"w-full uppercase tracking-wide text-grey-darker text-xs font-bold bg-blue-400 p-2 rounded-md" do%>
          View Portal
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
