<nav class="bg-black text-white">
  <div class="max-w-5xl mx-auto">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <div class="w-24">
          <%= link_to "/" do%>
            <%= image_tag ("Dunder_Mifflin_Inc_Logo.png") %>
          <% end %>
        </div>
        <div class="">
          PRIMARY LINKS
        </div>
      </div>

      <div class="">
        SECONDARY LINKS
      </div>
    </div>
  </div>
</nav>
